# **Random Practise Codes**

In [ ]:
# for exchanging values 
a, b = 5, 4
print(a, b)
a, b = b, a
print(a, b)

20
5 4
4 5

In [ ]:
str1 = "Pakistan"
str2 = 'Zindabad'
res1 = str1 + str2
res2 = str2 + str1
print(res1)
print(res2)

PakistanZindabad
ZindabadPakistan

# **1. Two Sum**

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

 ```
Example 1:
Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Output: Because nums[0] + nums[1] == 9,
we return [0, 1].
```
```
Example 2:
Input: nums = [3,2,4], target = 6
Output: [1,2]
```
```
Example 3:
Input: nums = [3,3], target = 6
Output: [0,1]
```

In [ ]:
class Solution:
    def twoSum(self):
        answer = []
        target = 6
        nums = [2,3,4]
        # for x in range(len(nums)):
        #     if(x < len(nums)-1):
        #         if(nums[x] + nums[x+1] == target):
        #             answer.append(x)
        #             answer.append(x+1)
        # print(answer)
        # return answer
        # t = 0-target
        for x in range(len(nums)):
            if(x < len(nums)):
                print(str(x) + " w")    
                if(nums[0] == 2):  #(nums[x] + nums[0])
                  print(x)
                  answer.append(x)
        print(answer)
        return answer
                
           
p = Solution()
print(p.twoSum())

0 w
0
1 w
1
2 w
2
[0, 1, 2]
[0, 1, 2]

In [ ]:
class Solution:
    def twoSum(self, nums: List[int], target: int) -> List[int]:
        answer = []
        for x in range(len(nums)):
            for y in range(len(nums)):
                if(x < len(nums)-1):
                    if(nums[x] + nums[x+y] == target):
                        answer.append(x)
                        answer.append(x+y)
            return answer
        # t = 0-target
#         for x in range(len(nums)):
#             if(x < len(nums)-1):    
#                 if(nums[x] + nums[0] == nums[0]):
#                     answer.append(x)
#         return answer

# **1365. How Many Numbers Are Smaller Than the Current Number**


Given the array nums, for each nums[i] find out how many numbers in the array are smaller than it. That is, for each nums[i] you have to count the number of valid j's such that j != i and nums[j] < nums[i].

Return the answer in an array.
```
Example 1:
Input: nums = [8,1,2,2,3]
Output: [4,0,1,1,3]
Explanation: 
For nums[0]=8 there exist four smaller numbers than it (1, 2, 2 and 3). 
For nums[1]=1 does not exist any smaller number than it.
For nums[2]=2 there exist one smaller number than it (1). 
For nums[3]=2 there exist one smaller number than it (1). 
For nums[4]=3 there exist three smaller numbers than it (1, 2 and 2).
```
```
Example 2:
Input: nums = [6,5,4,8]
Output: [2,1,0,3]
```

Comment # First Traverse whole List, while considering each element
Then we'll compare whole List for elements less than the considered element

In [ ]:
nums = [8,1,2,2,3]
list = []

for i in nums:
  count = 0
  for j in nums):
    if i > j:
      count += 1
  list.append(count)

print(ls_1)

[4, 0, 1, 1, 3]

In [ ]:
x, y = [int(x) for x in input().split()] 
print(x)
print(y)
print(type(x))

34 62
34
62
<class 'int'>

In [ ]:
x, y = input(),  input()
print(x, y)

45
34
45 34

In [ ]:
name = "Daud"
print(name[-1])

d

# **1108. Defanging an IP Address**


Given a valid (IPv4) IP address, return a defanged version of that IP address.

A defanged IP address replaces every period "." with "[.]".

 

**Example 1:**
```
Input: address = "1.1.1.1"
Output: "1[.]1[.]1[.]1"
```
**Example 2:**
```
Input: address = "255.100.50.0"
Output: "255[.]100[.]50[.]0"
```

In [ ]:
address = '1.1.1.1'
newadd = ''
for i in address:
  if (i == '.'):
    newadd += '[.]'
  else:
    newadd += i

print('New Address: ',newadd)

New Address:  1[.]1[.]1[.]1

# **344. Reverse String**


Write a function that reverses a string. The input string is given as an array of characters s.

 

**Example 1:**
```
Input: s = ["h","e","l","l","o"]
Output: ["o","l","l","e","h"]
```
**Example 2:**
```
Input: s = ["H","a","n","n","a","h"]
Output: ["h","a","n","n","a","H"]
```
**Follow up:** Do not allocate extra space for another array. You must do this by modifying the input array in-place with O(1) extra memory.

In [ ]:
s = ["h","e","l","l","o"]
for i in range(len(s)//2):
  s[i],s[-i-1] = s[-i-1],s[i]
  # s[i] = s[-i-1]
  # s[-i-1] = s[i]

print(s)

['o', 'l', 'l', 'e', 'h']

In [ ]:
lists =[]  
s = '(){[]'
val = None
dic ={
    '}':'{',
    ')':'(',
    ']':'['
}
dic_values = dic.values()  # [ '{', '(',  '[' ]
for i in s:  
    if i in dic_values:
        lists.append(i)
    else:
        if len(lists) > 0 and lists[-1] ==dic[i]:
            lists.pop()
        else:
            val = False
val = len(lists) == 0
print(val)

False

In [ ]:
nums = [0,1,2,2,3,0,4,2]
val = 2
x = []
count = 0
for i in range(len(nums)):
    if val == nums[i]:
        count = count+1
for i in range(len(nums)):
    if nums[i] != val:
        x.append(nums[i])
for j in range(3):
    x.append("_")
lst = [i for i in x]
print(lst)

[0, 1, 3, 0, 4, '_', '_', '_']

In [ ]:
# output is this  [0, 1, 3, 0, 4, '_', '_', '_'] , I need this output   [0,1,3,0, 4,_,_,_]

In [ ]:
class Solution:
    def restoreString(self, s: str, indices) -> str:
        string = s.split('')
        temp = ''
        for i in range(0,len(s)):
            string[indices[i]] += s[i]

        return string

t1 = Solution()
print(t1.restoreString('codeleet',45670213))

In [ ]:
def restoreString(self, s: str, indices: List[int]) -> str:
		result = [""] * len(s)

		for i, letter in enumerate(s):
			result[indices[i]] = letter

		return "".join(result)

In [ ]:
list1 = list("sjdhj")
print(list1)

['s', 'j', 'd', 'h', 'j']

# **1160. Find Words That Can Be Formed by Characters**


You are given an array of strings **words** and a string chars.

A string is good if it can be formed by characters from chars (each character can only be used once).

Return the sum of lengths of all good strings in words.

**Example 1:**
```
Input: words = ["cat","bt","hat","tree"], chars = "atach"
Output: 6
Explanation: The strings that can be formed are "cat" and "hat" so the answer is 3 + 3 = 6.
```
**Example 2:**
```
Input: words = ["hello","world","leetcode"], chars = "welldonehoneyr"
Output: 10
Explanation: The strings that can be formed are "hello" and "world" so the answer is 5 + 5 = 10.
```

In [ ]:
# words = ["cat","bt","hat","tree"]
# chars = "atach"
# -----------------------------------------
words = ["hello","world","leetcode"]
chars = "welldonehoneyr"
# -----------------------------------------
count = 0
countw = 0
lt_chars = list(chars)
lf_chars = list(chars)
chars_c = []
for i in words:
  for j in i:
    if j in lf_chars:
      count += 1
      lt_chars.remove(j)
      chars_c.add(j)
    if count == len(i):
      countw += count
      lf_chars = lt_chars.copy()
    else:
      for k in chars_c:
        

      print(lf_chars)
  count = 0

print(countw)

['w', 'e', 'l', 'l', 'd', 'o', 'n', 'e', 'h', 'o', 'n', 'e', 'y', 'r']
['w', 'e', 'l', 'l', 'd', 'o', 'n', 'e', 'h', 'o', 'n', 'e', 'y', 'r']
10

In [ ]:
chars = "welldonehoneyr"
for ch in chars:
  chars = chars.replace(ch, "")
  print(chars)

elldonehoneyr
lldonhonyr
donhonyr
donhonyr
onhonyr
nhnyr
hyr
hyr
yr
yr
yr
yr
r

In [ ]:
chars = "welldonehoneyr"
l_chars = list(chars)
print(l_chars)
for ch in chars:
  l_chars.remove(ch)
  print(l_chars)

['w', 'e', 'l', 'l', 'd', 'o', 'n', 'e', 'h', 'o', 'n', 'e', 'y', 'r']
['e', 'l', 'l', 'd', 'o', 'n', 'e', 'h', 'o', 'n', 'e', 'y', 'r']
['l', 'l', 'd', 'o', 'n', 'e', 'h', 'o', 'n', 'e', 'y', 'r']
['l', 'd', 'o', 'n', 'e', 'h', 'o', 'n', 'e', 'y', 'r']
['d', 'o', 'n', 'e', 'h', 'o', 'n', 'e', 'y', 'r']
['o', 'n', 'e', 'h', 'o', 'n', 'e', 'y', 'r']
['n', 'e', 'h', 'o', 'n', 'e', 'y', 'r']
['e', 'h', 'o', 'n', 'e', 'y', 'r']
['h', 'o', 'n', 'e', 'y', 'r']
['o', 'n', 'e', 'y', 'r']
['n', 'e', 'y', 'r']
['e', 'y', 'r']
['y', 'r']
['r']
[]

# **1929. Concatenation of Array**


Given an integer array nums of length n, you want to create an array ans of length 2n where ans[i] == nums[i] and ans[i + n] == nums[i] for 0 <= i < n (0-indexed).

Specifically, ans is the **concatenation** of two nums arrays.

Return the array ans.
```
**Example 1:**
Input: nums = [1,2,1]
Output: [1,2,1,1,2,1]
Explanation: The array ans is formed as follows:
- ans = [nums[0],nums[1],nums[2],nums[0],nums[1],nums[2]]
- ans = [1,2,1,1,2,1]
```

**Example 2:**
```
Input: nums = [1,3,2,1]
Output: [1,3,2,1,1,3,2,1]
Explanation: The array ans is formed as follows:
- ans = [nums[0],nums[1],nums[2],nums[3],nums[0],nums[1],nums[2],nums[3]]
- ans = [1,3,2,1,1,3,2,1]
```

In [ ]:
#Solution 1
nums = [1,3,2,1]
answer = nums
for i in range(len(nums)):
  answer.append(nums[i])
print(answer)

[1, 3, 2, 1, 1, 3, 2, 1]

In [ ]:
# Solution 2
nums = [1,3,2,1]
print(nums + nums)

[1, 3, 2, 1, 1, 3, 2, 1]

# **5882. Grid Game Contest question**

In [ ]:
def index_2d(myList, val):
    for i, x in enumerate(myList):
        if val in x:
            return (i, x.index(val))
grid = [[2,5,4],[1,5,1]]
# print(grid.index(max(grid)))
# print(grid.index(max(max(grid,key=max))))
# print(grid.index(grid.index(5)))
print(index_2d(grid, max(max(x) for x in grid)))
print(index_2d(grid, 1))
print(max(grid[0]))

(0, 1)
(1, 0)
5

# **287. Find the Duplicate Number**

Given an array of integers nums containing n + 1 integers where each integer is in the range [1, n] inclusive.

There is only one repeated number in nums, return this repeated number.

You must solve the problem without modifying the array nums and uses only constant extra space.

**Example 1:**
```
Input: nums = [1,3,4,2,2]
Output: 2
```
**Example 2:**
```
Input: nums = [3,1,3,4,2]
Output: 3
```

In [ ]:
nums = [3813, 15536,22271,14184,17895,3837,24294,23073,8515,21173,18958]
for i in range(0, len(nums)):
  for j in range(i+1, len(nums)):
    if nums[i] == nums[j]:
      print(nums[j])
print(None)

None

# **1941. Check if All Characters Have Equal Number of Occurrences**


Given a string s, return true if s is a good string, or false otherwise.

A string s is good if all the characters that appear in s have the same number of occurrences (i.e., the same frequency).
```
Example 1:
Input: s = "abacbc"
Output: true
Explanation: The characters that appear in s are 'a', 'b', and 'c'. All characters occur 2 times in s.
```
```
Example 2:

Input: s = "aaabb"
Output: false
Explanation: The characters that appear in s are 'a' and 'b'.
'a' occurs 3 times while 'b' occurs 2 times, which is not the same number of times.
```

In [ ]:
s = "abacbc"
# s = "aaabb"
dic = {}
for i in s:
    if i not in dic:
        dic[i] = 1
    else:
        dic[i] += 1
lst = list(dic.values())
print(dic)
val = lst[0]
for i in range(len(lst)):
    if lst[i] != val:
        print(False)
        break
print(True)

{'a': 2, 'b': 2, 'c': 2}
True

# **1704. Determine if String Halves Are Alike**


You are given a string s of even length. Split this string into two halves of equal lengths, and let a be the first half and b be the second half.

Two strings are alike if they have the same number of vowels ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'). Notice that s contains uppercase and lowercase letters.

Return true if a and b are alike. Otherwise, return false.

```
Example 1:
Input: s = "book"
Output: true
Explanation: a = "bo" and b = "ok". a has 1 vowel and b has 1 vowel. Therefore, they are alike.
```
```
Example 2:
Input: s = "textbook"
Output: false
Explanation: a = "text" and b = "book". a has 1 vowel whereas b has 2. Therefore, they are not alike.
Notice that the vowel o is counted twice.
```
```
Example 3:
Input: s = "AbCdEfGh"
Output: true
```

In [ ]:
# Solution 1
# s = "book"
# s = "textbook"
s = s.lower()
l = int(len(s) / 2)
a, b = '', ''
count = 0
vowels = ('a', 'e', 'i', 'o', 'u')
print(l)
for i in range(0, len(s)):
    if i+1 <= l:
        a += s[i]
    else:
        b += s[i]
print(a,b)
for i in range(0, l):
    if a[i] in vowels:
        count += 1
    if b[i] in vowels:
        count -= 1
print(count == 0)

AbCd
4
abcd efgh
True

In [ ]:
# Solution 2
s = "book"
# s = "textbook"
s = s.lower()
l = len(s) // 2
a, b = 0, 0
vowels = ('a', 'e', 'i', 'o', 'u')
for i in range(l):
    if s[i] in vowels:
        a += 1
    if s[i+l] in vowels:
        b += 1
print(a == b)

True

# **1470. Shuffle the Array**


Given the array nums consisting of 2n elements in the form ```[x1,x2,...,xn,y1,y2,...,yn].```

Return the array in the form ```[x1,y1,x2,y2,...,xn,yn]```.
```
Example 1:
Input: nums = [2,5,1,3,4,7], n = 3
Output: [2,3,5,4,1,7] 
Explanation: Since x1=2, x2=5, x3=1, y1=3, y2=4, y3=7 then the answer is [2,3,5,4,1,7].
```
```
Example 2:
Input: nums = [1,2,3,4,4,3,2,1], n = 4
Output: [1,4,2,3,3,2,4,1]
```

In [ ]:
nums = [1,2,3,4,4,3,2,1]
n = 4
# nums = [1,3,2,4]
# n = 2
l = len(nums)
print('Result:', [1,4,2,3,3,2,4,1])
for i in range(0, l, 2):
  nums.insert(i+1, nums[i+n])
  print('loop:',i,nums)
del(nums[l:])
print(nums)
# --------------------------------------------------------------------

Result: [1, 4, 2, 3, 3, 2, 4, 1]
loop: 0 [1, 4, 2, 3, 4, 4, 3, 2, 1]
loop: 2 [1, 4, 2, 3, 3, 4, 4, 3, 2, 1]
loop: 4 [1, 4, 2, 3, 3, 2, 4, 4, 3, 2, 1]
loop: 6 [1, 4, 2, 3, 3, 2, 4, 1, 4, 3, 2, 1]
[1, 4, 2, 3, 3, 2, 4, 1]

# **2022. Convert 1D Array Into 2D Array**


You are given a **0-indexed** 1-dimensional (1D) integer array ```original```, and two integers, ```m``` and ```n```. You are tasked with creating a 2-dimensional (2D) array with ```m``` rows and ```n``` columns using **all** the elements from ```original```.

The elements from indices ```0``` to ```n - 1``` (**inclusive**) of original should form the first row of the constructed 2D array, the elements from indices ```n``` to ```2 * n - 1``` (**inclusive**) should form the second row of the constructed 2D array, and so on.

Return an ```m x n``` *2D array constructed according to the above procedure, or an empty 2D array if it is impossible.*
```
Example 1:
Input: original = [1,2,3,4], m = 2, n = 2
Output: [[1,2],[3,4]]
Explanation:
The constructed 2D array should contain 2 rows and 2 columns.
The first group of n=2 elements in original, [1,2], becomes the first row in the constructed 2D array.
The second group of n=2 elements in original, [3,4], becomes the second row in the constructed 2D array.
```
```
Example 2:
Input: original = [1,2,3], m = 1, n = 3
Output: [[1,2,3]]
Explanation:
The constructed 2D array should contain 1 row and 3 columns.
Put all three elements in original into the first row of the constructed 2D array.
```
```
Example 3:
Input: original = [1,2], m = 1, n = 1
Output: []
Explanation:
There are 2 elements in original.
It is impossible to fit 2 elements in a 1x1 2D array, so return an empty 2D array.
```

In [ ]:
original = [1,2,3,4]
# m = 2
# n = 2
# original = [1,2]
m = 2
n = 2
j = 0
result = [[0]*n]*m
if m * n != len(original):
  print('Cannot do this')
for i in range(m):
    result[i] = original[j:j+n]
    j += n
print(result)
print(len(result))

[[1, 2], [3, 4]]
2

# **2023. Number of Pairs of Strings With Concatenation Equal to Target**


Given an array of digit strings ```nums``` and a digit string ```target```, return the number of pairs of indices ```(i, j)``` (where ```i != j```) such that the concatenation of ```nums[i] + nums[j]``` equals target.
```
Example 1:
Input: nums = ["777","7","77","77"], target = "7777"
Output: 4
Explanation: Valid pairs are:
- (0, 1): "777" + "7"
- (1, 0): "7" + "777"
- (2, 3): "77" + "77"
- (3, 2): "77" + "77"
```
```
Example 2:
Input: nums = ["123","4","12","34"], target = "1234"
Output: 2
Explanation: Valid pairs are:
- (0, 1): "123" + "4"
- (2, 3): "12" + "34"
```

In [ ]:
nums = ["777","7","77","77"]
target = "7777"
answer = 0
for i in range(len(nums)):
  for j in range(len(nums)):
    if (i != j and nums[i] + nums[j] == target):
      answer += 1
print(answer)

4

In [ ]:
# s ='XXOX'
# s = 'OOOO'
# s = 'XXX'
s = 'OXOX'
ns = ''
st = 0
count = 0
en = len(s) - 1
l = len(s) // 3 + len(s) % 3
lst = ['XOO','XOX','XXO','OXO','OXX','OOX']
for i in range(l):
  if s [i:i+3] in lst:
    count += 1
    s.replace(s[0:3],'OOO')
    print(s[i:i+3],'  ',s)
  if s[i:i+3] == 'XXX':
    count += 1
    print(count)
  if s[i:i+3] == '000':
    pass
    s.replace(s[i:i+3],'OOO')
# print(count)

OXO    OXOX
XOX    OXOX

# **2027. Minimum Moves to Convert String**

You are given a string s consisting of n characters which are either 'X' or 'O'.

A move is defined as selecting three consecutive characters of s and converting them to 'O'. Note that if a move is applied to the character 'O', it will stay the same.

Return the minimum number of moves required so that all the characters of s are converted to 'O'.
```
Example 1:
Input: s = "XXX"
Output: 1
Explanation: XXX -> OOO
We select all the 3 characters and convert them in one move.
```
```
Example 2:
Input: s = "XXOX"
Output: 2
Explanation: XXOX -> OOOX -> OOOO
We select the first 3 characters in the first move, and convert them to 'O'.
Then we select the last 3 characters and convert them so that the final string contains all 'O's.
```
```
Example 3:
Input: s = "OOOO"
Output: 0
Explanation: There are no 'X's in s to convert.
```

In [ ]:
# s = 'OXOX'
s ='XXOX'
# s = 'OOOO'
# s = 'XXX'
count = 0
l = len(s)
i = 0
while i < l:
  if s[i] == 'X':
    count += 1
    i += 2
  i += 1
print(count)

2

# **852. Peak Index in a Mountain Array**

Let's call an array arr a mountain if the following properties hold:

- arr.length >= 3
- There exists some i with 0 < i < arr.length - 1 such that:
  - arr[0] < arr[1] < ... arr[i-1] < arr[i]
  - arr[i] > arr[i+1] > ... > arr[arr.length - 1]

Given an integer array arr that is guaranteed to be a mountain, return any i such that arr[0] < arr[1] < ... arr[i - 1] < arr[i] > arr[i + 1] > ... > arr[arr.length - 1].
```
Example 1:
Input: arr = [0,1,0]
Output: 1
```
```
Example 2:
Input: arr = [0,2,1,0]
Output: 1
```
```
Example 3:
Input: arr = [0,10,5,2]
Output: 1
```
```
Example 4:
Input: arr = [24,69,100,99,79,78,67,36,26,19]
Output: 2
```

In [ ]:
# First Approch
# arr = [0,2,1,0]
arr = [24,69,100,99,79,78,67,36,26,19]
i=0
while(arr[i]<arr[i+1]):
    i+=1
print(i)

2

In [ ]:
# Second Approch
print(arr.index(max(arr)))

2

# **520. Detect Capital**

We define the usage of capitals in a word to be right when one of the following cases holds:

All letters in this word are capitals, like "USA".
All letters in this word are not capitals, like "leetcode".
Only the first letter in this word is capital, like "Google".

Given a string word, return true if the usage of capitals in it is right.
```
Example 1:
Input: word = "USA"
Output: true
```
```
Example 2:
Input: word = "FlaG"
Output: false
```

In [ ]:
word = "USA"
word = "FlaG"
print(word==word.upper() or word==word.lower() or word==word.capitalize())

False

# **1390. Four Divisors**

Given an integer array nums, return the sum of divisors of the integers in that array that have exactly four divisors. If there is no such integer in the array, return 0.

 ```
Example 1:
Input: nums = [21,4,7]
Output: 32
Explanation: 
21 has 4 divisors: 1, 3, 7, 21
4 has 3 divisors: 1, 2, 4
7 has 2 divisors: 1, 7
The answer is the sum of divisors of 21 only.
```
```
Example 2:
Input: nums = [21,21]
Output: 64
```
```
Example 3:
Input: nums = [1,2,3,4,5]
Output: 0
```

In [ ]:
def divisors(nums):
  count = 0
  i = 1
  while i <= nums:
    if nums % i == 0:
      count += i
    i += 1
  return count

# nums = [21,21]
nums = [21,4,7]
count = 0
for i in nums:
  count = divisors(i)
  # print(count)
  if count == 4:
    break
print(count)

32
7
8
8

In [ ]:
def divisors(n):
  count = 0
  total = 0
  i = 1
  while i <= n:
      if n % i == 0:
          total += i
          count += 1
      i += 1
  if count == 4:
      return total
  else:
      return 0

nums = [41803,23291,54272,48865,88774]

d_sum = 0
for i in nums:
    d_sum += divisors(i)
print(d_sum)

44280

In [ ]:
from math import *
nums = [41803,23291,54272,48865,88774,73382]
d_sum = 0
for i in nums:
    values = set()
    j = 1
    while j <= floor(sqrt(i) + 1):
        if i % j == 0:
            values.add(j)
            values.add(i//j)
        if len(values) > 4:
            break
        j += 1
    if len(values) == 4:
        d_sum += sum(values)       
print(d_sum)

154356

# **26. Remove Duplicates from Sorted Array**


Given an integer array nums sorted in non-decreasing order, remove the duplicates in-place such that each unique element appears only once. The relative order of the elements should be kept the same.

Since it is impossible to change the length of the array in some languages, you must instead have the result be placed in the first part of the array nums. More formally, if there are k elements after removing the duplicates, then the first k elements of nums should hold the final result. It does not matter what you leave beyond the first k elements.

Return k after placing the final result in the first k slots of nums.

Do not allocate extra space for another array. You must do this by modifying the input array in-place with O(1) extra memory.

```
Example 1:
Input: nums = [1,1,2]
Output: 2, nums = [1,2,_]
Explanation: Your function should return k = 2, with the first two elements of nums being 1 and 2 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).
```
```
Example 2:
Input: nums = [0,0,1,1,1,2,2,3,3,4]
Output: 5, nums = [0,1,2,3,4,_,_,_,_,_]
Explanation: Your function should return k = 5, with the first five elements of nums being 0, 1, 2, 3, and 4 respectively.
It does not matter what you leave beyond the returned k (hence they are underscores).
```

In [ ]:
nums = [0,0,1,1,1,2,2,3,3,4]
nums[:] = sorted(set(nums))
nums.remove
print(nums)
print(len(nums))

[0, 1, 2, 3, 4]
5

# **58. Length of Last Word**

Given a string s consisting of some words separated by some number of spaces, return the length of the last word in the string.

A word is a maximal substring consisting of non-space characters only.
```
Example 1:
Input: s = "Hello World"
Output: 5
Explanation: The last word is "World" with length 5.
```

In [ ]:
s = "Hello World"
lst = s.split()
print(len(lst[-1]))

5

In [ ]:
s = "Hello   World   "
print(s.strip().split()[-1])

World

# **1408. String Matching in an Array**

Given an array of string words. Return all strings in words which is substring of another word in any order. 

String words[i] is substring of words[j], if can be obtained removing some characters to left and/or right side of words[j].
```
Example 1:
Input: words = ["mass","as","hero","superhero"]
Output: ["as","hero"]
Explanation: "as" is substring of "mass" and "hero" is substring of "superhero".
["hero","as"] is also a valid answer.
```

In [ ]:
words = ["mass","as","hero","superhero"]
ans = []
for i in range(0,len(words)):
  for j in range(0,len(words)):
    if (words[j] in words[i] and words[i]!=words[j]):
      ans.append(words[j])
print(list(set(ans)))

['as', 'hero']

# **1662. Check If Two String Arrays are Equivalent**

Given two string arrays word1 and word2, return true if the two arrays represent the same string, and false otherwise.

A string is represented by an array if the array elements concatenated in order forms the string.
```
Example 1:
Input: word1 = ["ab", "c"], word2 = ["a", "bc"]
Output: true
Explanation:
word1 represents string "ab" + "c" -> "abc"
word2 represents string "a" + "bc" -> "abc"
The strings are the same, so return true.
```
```
Example 2:
Input: word1 = ["a", "cb"], word2 = ["ab", "c"]
Output: false
```

In [ ]:
word1 = ["a", "cb"]
word2 = ["ab", "c"]
# word1 = ["ab", "c"]
# word2 = ["a", "bc"]
print(''.join(word1) == ''.join(word2))

False

# **1816. Truncate Sentence**

A sentence is a list of words that are separated by a single space with no leading or trailing spaces. Each of the words consists of only uppercase and lowercase English letters (no punctuation).

For example, "Hello World", "HELLO", and "hello world hello world" are all sentences.
You are given a sentence s​​​​​​ and an integer k​​​​​​. You want to truncate s​​​​​​ such that it contains only the first k​​​​​​ words. Return s​​​​​​ after truncating it.

```
Example 1:

Input: s = "Hello how are you Contestant", k = 4
Output: "Hello how are you"
Explanation:
The words in s are ["Hello", "how" "are", "you", "Contestant"].
The first 4 words are ["Hello", "how", "are", "you"].
Hence, you should return "Hello how are you".

```

In [ ]:
s = "Hello how are you Contestant"
k = 4
s = s.split()
arr = []
for i in range(0, k):
  arr.append(s[i])
print(" ".join(arr))

Hello how are you

# **1991. Find the Middle Index in Array**
## **724. Find Pivot Index** (also has the same solution)


Given a 0-indexed integer array nums, find the leftmost middleIndex (i.e., the smallest amongst all the possible ones).

A middleIndex is an index where nums[0] + nums[1] + ... + nums[middleIndex-1] == nums[middleIndex+1] + nums[middleIndex+2] + ... + nums[nums.length-1].

If middleIndex == 0, the left side sum is considered to be 0. Similarly, if middleIndex == nums.length - 1, the right side sum is considered to be 0.

Return the leftmost middleIndex that satisfies the condition, or -1 if there is no such index.
```
Example 1:
Input: nums = [2,3,-1,8,4]
Output: 3
Explanation:
The sum of the numbers before index 3 is: 2 + 3 + -1 = 4
The sum of the numbers after index 3 is: 4 = 4
```
```
Example 2:
Input: nums = [1,-1,4]
Output: 2
Explanation:
The sum of the numbers before index 2 is: 1 + -1 = 0
The sum of the numbers after index 2 is: 0
```

In [ ]:
nums = [2,3,-1,8,4]
sum1 = sum(nums)
sum2 = 0
for i in range(len(nums)):
  sum1 -= nums[i]
  if sum1 == sum2: print(i)
  sum2 += nums[i]
print(-1)

3
-1

# **2037. Minimum Number of Moves to Seat Everyone**


There are n seats and n students in a room. You are given an array seats of length n, where seats[i] is the position of the ith seat. You are also given the array students of length n, where students[j] is the position of the jth student.

You may perform the following move any number of times:

Increase or decrease the position of the ith student by 1 (i.e., moving the ith student from position x to x + 1 or x - 1)
Return the minimum number of moves required to move each student to a seat such that no two students are in the same seat.

Note that there may be multiple seats or students in the same position at the beginning.
```
Example 1:
Input: seats = [3,1,5], students = [2,7,4]
Output: 4
Explanation: The students are moved as follows:
- The first student is moved from from position 2 to position 1 using 1 move.
- The second student is moved from from position 7 to position 5 using 2 moves.
- The third student is moved from from position 4 to position 3 using 1 move.
In total, 1 + 2 + 1 = 4 moves were used.
```
```
Example 2:
Input: seats = [4,1,5,9], students = [1,3,2,6]
Output: 7
Explanation: The students are moved as follows:
- The first student is not moved.
- The second student is moved from from position 3 to position 4 using 1 move.
- The third student is moved from from position 2 to position 5 using 3 moves.
- The fourth student is moved from from position 6 to position 9 using 3 moves.
In total, 0 + 1 + 3 + 3 = 7 moves were used.
```

In [ ]:
seats, students = [4,1,5,9], [1,3,2,6]
students = sorted(students)
moves = 0
for i in range(len(students)):
  val = min(seats)
  moves += abs(students[i] - val)
  seats.remove(val)
print(moves)

7

In [ ]:
seats , students = [3,1,5], [2,7,4]
students = sorted(students)
seats = sorted(seats)
moves = 0
for i in range(len(students)):
  moves += abs(students[i] - seats[i])
print(moves)

4

# **Weekly contest 263** | **2042. Check if Numbers Are Ascending in a Sentence**

A sentence is a list of **tokens** separated by a **single** space with no leading or trailing spaces. Every token is either a **positive number** consisting of digits 0-9 with no leading zeros, or a **word** consisting of lowercase English letters.

* For example, `"a puppy has 2 eyes 4 legs"` is a sentence with seven tokens: `"2"` and `"4"` are numbers and the other tokens such as `"puppy"` are words.
Given a string `s` representing a sentence, you need to check if **all** the numbers in s are **strictly increasing** from left to right (i.e., other than the last number, each number is **strictly smaller** than the number on its right in s).

Return `true` if so, or `false` otherwise.

**Example 1:**
```
Input: s = "1 box has 3 blue 4 red 6 green and 12 yellow marbles"
Output: true
Explanation: The numbers in s are: 1, 3, 4, 6, 12.
They are strictly increasing from left to right: 1 < 3 < 4 < 6 < 12.
```
**Example 2:**
```
Input: s = "sunset is at 7 51 pm overnight lows will be in the low 50 and 60 s"
Output: false
Explanation: The numbers in s are: 7, 51, 50, 60. They are not strictly increasing.
```
**Example 3:**
```
s = "36 claim 37 38 39 39 41 hire final 42 43 twist shift young 44 miss 45 46 sad 47 48 dig 49 50 green 51 train 52 broad 53"
```

In [21]:
s = "sunset is at 7 51 pm overnight lows will be in the low 50 and 60 s"
lst = s.split()
int_lst = [ int(x) for x in lst if x.isdigit()]
last_val = int_lst.pop()
print(last_val)
print(int_lst)

60
[7, 51, 50]

# **2043. Simple Bank System**

You have been tasked with writing a program for a popular bank that will automate all its incoming transactions (transfer, deposit, and withdraw). The bank has n accounts numbered from 1 to n. The initial balance of each account is stored in a **0-indexed** integer array `balance`, with the `(i + 1)th` account having an initial balance of `balance[i]`.

Execute all the valid transactions. A transaction is valid if:

* The given account number(s) are between 1 and n, and
* The amount of money withdrawn or transferred from is less than or equal to the balance of the account.
Implement the Bank class:

* `Bank(long[] balance)` Initializes the object with the **0-indexed** integer array `balance`.
* `boolean transfer(int account1, int account2, long money)` Transfers `money` dollars from the account numbered `account1` to the account numbered `account2`. Return `true` if the transaction was successful, `false` otherwise.
* `boolean deposit(int account, long money)` Deposit `money` dollars into the account numbered `account`. Return `true` if the transaction was successful, `false` otherwise.
* `boolean withdraw(int account, long money)` Withdraw `money` dollars from the account numbered `account`. Return `true` if the transaction was successful, `false` otherwise.

**Example 1:**
```
Input
["Bank", "withdraw", "transfer", "deposit", "transfer", "withdraw"]
[[[10, 100, 20, 50, 30]], [3, 10], [5, 1, 20], [5, 20], [3, 4, 15], [10, 50]]
Output
[null, true, true, true, false, false]

Explanation
Bank bank = new Bank([10, 100, 20, 50, 30]);
bank.withdraw(3, 10);    // return true, account 3 has a balance of $20, so it is valid to withdraw $10.
                         // Account 3 has $20 - $10 = $10.
bank.transfer(5, 1, 20); // return true, account 5 has a balance of $30, so it is valid to transfer $20.
                         // Account 5 has $30 - $20 = $10, and account 1 has $10 + $20 = $30.
bank.deposit(5, 20);     // return true, it is valid to deposit $20 to account 5.
                         // Account 5 has $10 + $20 = $30.
bank.transfer(3, 4, 15); // return false, the current balance of account 3 is $10,
                         // so it is invalid to transfer $15 from it.
bank.withdraw(10, 50);   // return false, it is invalid because account 10 does not exist.
```

In [20]:
class Bank:

    def __init__(self, balance ):
        self.balance = balance
        self.t_accounts = len(balance)
        return None

    def transfer(self, account1, account2, money) -> bool:
        if self.t_accounts < account1 or self.t_accounts < account2 or self.balance[account1-1] < money:
            return False
        self.balance[account1-1] -= money
        self.balance[account2-1] += money
        return True

    def deposit(self, account, money) -> bool:
        if self.t_accounts < account:
            return False
        self.balance[account-1] += money
        return True
        
    def withdraw(self, account, money) -> bool:
        if self.t_accounts < account or self.balance[account-1] < money:
            return False
        self.balance[account-1] -= money
        return True


obj = Bank([10, 100, 20, 50, 30])
param_1 = obj.transfer(5, 1, 20)
param_2 = obj.deposit(5, 20)
param_3 = obj.withdraw(10, 50)
print(obj ,param_1, param_2, param_3)

<__main__.Bank object at 0x7f767779f3d0> True True False